/* Regole generali */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/background-pattern.png");
    background-repeat: repeat;
}

.container {
    width: 80%;
    margin: 15px auto;
}

/* *** HEADER *** */
header {
    /* DEBUG: per renderlo visibile */
    /* height: 150px; */
    /* background-color: #fefe3a; */
}

#intestazione {
    position: relative;
    top: 0;
    left: 0;
    height: 400px;
    /* Immagine */
    background-image: url("../img/img-header.jpg");
    background-position: center;
    background-size: cover;
    /* Bordi */
    border: solid 10px #fff;
    border-radius: 2px;
}

#logo {
    position: absolute;
}

#titolo {
    position: absolute;
    /* width: 90%; */
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-shadow: 8px 10px 8px #1a1414;
}

#titolo h1 {
    font-size: 62px;
    margin-bottom: 20px;
    padding: 10px;
    border: solid 8px #fff;
}

#titolo h2 {
    font-size: 34px;
}

.layover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 37, 37, 0.25);
}

    /* barra dei menu */
.navigation {
    position: relative;
    top: 0;
    left: 0;
    height: 60px;
    background-color: #48403b;
}

.menu-inline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.menu-inline li {
    display: inline-block;
    padding: 20px;
}

.menu-inline li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu-inline li:hover {
    background-color: #2b2723;
    cursor: pointer;
}

/* *** BODY *** */
.riga {
    margin: 20px 0;
}

.riga::after {
    content: "";
    display: table;
    clear: both;
}

/* Colonna centrale */
.content {
    float: left;
    width: 54%;
    margin: 0 3%;
}

/* colonne */
.left {
    float: left;
    width: 20%;
}

.right {
    float: right;
    width: 20%;
}

/* regole generali box per il contenuto */
.box {
    width: 100%;
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
}

.box h3 {
    font-size: 24px;
    margin: 10px auto;
}

.box p {
    line-height: 1.8em;
    font-size: 18px;
    margin: 50px auto 15px;
}

.box a {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #594e40;
}



.sotto-blocco {
    width: 100%;
    margin-bottom: 10px;
    /* DEBUG: per renderlo visibile */
    height: 275px;
    background-color: #cc87da;
}



/*  *** FOOTER *** */
footer {
    /* DEBUG: per renderlo visibile */
    height: 150px;
    background-color: #a4d2e1;
}

/* ********************* */
